@model dynamic
@{
    Layout = null;

    //Response.Charset = "gb2312";
}
<!DOCTYPE html>
<html>
<head>
    <title>title</title>
    <script src="~/Content/Bootstrap/js/jquery-1.11.3.min.js"></script>
</head>
<body>
    <div>
        <form>
            <input type="text" name="str" />
            <button id="btnTest" type="button">Test</button>
        </form>
    </div>
    <script type="text/javascript">
        $("#btnTest").click(function () {
            
        });

    </script>
</body>
</html>