@model dynamic
@{
    Layout = "~/Views/Shared/_LayoutCommon.cshtml";

    ViewBag.Title = "文本格式转换";
    ViewBag.ContentTitle = "文本格式转换";
    ViewBag.ShowJiaocheng = true;
    ViewBag.ShowBrowserInfo = true;
}
@section HeadCss{
    <link href="~/Content/css/id.css" rel="stylesheet" />
    <style type="text/css">
        textarea {
            width: 390px !important;
        }

        .jc-old-format {
            color: #009966;
        }

        .jc-new-format {
            color: #0099CC;
        }
    </style>
}
<div class="content">
    <span>原文本格式：<input type="text" id="txtFormat1" value="{1}----{2}----{3}----{4}"/></span>
    <span>转换后格式：<input type="text" id="txtFormat2" value="{1}----{2}"/></span>
    <span><button type="button" class="btn btn-primary" id="btnConvert">转换</button></span>
    @*<span><button type="submit" class="btn btn-default">保存转换后文本</button></span>*@
    <table>
        <tr>
            <td>
                <textarea class="form-control" wrap="off" id="txtData1" placeholder="这里输入需要转换的文本"></textarea>
            </td>
            <td>
                <textarea class="form-control" wrap="off" id="txtData2" placeholder="这里显示转换结果" name="data"></textarea>
            </td>
        </tr>
        <tr align="center">
            <td>转换前个数：<input class="txtNum" id="txtNum1" value="0"/></td>
            <td>转换后个数：<input class="txtNum" id="txtNum2" value="0" name="num"/></td>
        </tr>
    </table>
</div>
@section FootJs{
    <script src="~/Content/js/jquery.cookie.js"></script>
    <script src="~/Content/js/str.js"></script>
    <script src="~/Content/js/str-zh.js"></script>
}
@section FooterLinks{
    <span><a href="/str">文本处理工具</a></span><span><a href="/str/hb">文本合并</a></span>
}
@section JiaochengBody
{
    <p>
        <b>实例一：</b><br />
        如果原文本是这种格式：<br />
        <span class="jc-old-format">
            abc----123----defg----321<br />
            def----132----hijk----213<br />
        </span>
        想转换为这种格式：<br />
        <span class="jc-new-format">
            abc----123<br />
            def----132<br />
        </span>
        原文本格式 填写：<span class="jc-old-format">{1}----{2}----{3}----{4}</span><br />
        转换后格式 填写：<span class="jc-new-format">{1}----{2}</span><br />
    </p>
    <p>
        <b>实例二：</b><br />
        如果原文本是这种格式：<br />
        <span class="jc-old-format">
            abc----123----defg----321<br />
            def----132----hijk----213<br />
        </span>
        想转换为这种格式：<br />
        <span class="jc-new-format">
            defg----321<br />
            hijk----213<br />
        </span>
        原文本格式 填写：<span class="jc-old-format">{1}----{2}----{3}----{4}</span><br />
        转换后格式 填写：<span class="jc-new-format">{3}----{4}</span><br />
    </p>
    <p>
        <b>实例三：</b><br />
        如果原文本是这种格式：<br />
        <span class="jc-old-format">
            abc----123||defg----321<br />
            def----132||hijk----213<br />
        </span>
        想转换为这种格式：<br />
        <span class="jc-new-format">
            defg#321----abc$123<br />
            hijk#213----def$132<br />
        </span>
        原文本格式 填写：<span class="jc-old-format">{1}----{2}||{3}----{4}</span><br />
        转换后格式 填写：<span class="jc-new-format">{3}#{4}----{1}${2}</span><br />
    </p>
}